body {
    background-color: black;
    color: lightyellow;
    font-family: 'Orbitron', sans-serif;
    background: url('/static/images/starfield.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

.title {
    text-shadow: 2px 2px 5px #112;
}

#title-screen .title {
    margin-bottom: 2em;
}

.panel > .title {
    font-size: 2em;
}

.panel {
    min-width: 640px;
    padding: 2em;
    margin: 3em;
    position: relative;
    height: 100%;
    background: url('/static/images/highlight.png');
    border: #235 solid 12px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 0 100px #866;
}

.panel button {
    border: 15px bezel;
    position: relative;
    height: 2em;
    width: 22ex;
    color: blue;
    text-shadow: -1px -1px 3px #fff;
    font-size: 1.25em;
    font-family: 'Orbitron', sans-serif;
    margin: 1.5em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 10px 0 10px 0;
    border-radius:  12px 0 12px 0;
}

.panel button:hover {
    box-shadow: 0 0 40px #c77;
}

#title-screen button {
    right: -35%;
    display: block;
}

form > .group {
    margin: 0.5em;
    padding: 0.5em;
    border: 2px darkgray solid;
    background: url('/static/images/highlight.png');
    box-shadow: 0 0 50px #866;
    float: left;
    height: 9em;
}

form > .group > .title {
    position: relative;
    top: -10px;
}

form .subgroup {
    position: relative;
    float: left;
    top: -10px;
}

.panel label {
    margin: 0.5em;
    display: block;
    color: white;
    text-shadow: 0 0 2px black;
}

.map {
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 6em;
}

.map td {
    position: relative;
    width: 64px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    border: 1px dotted #335;
    margin: 0;
    padding: 0;
}

.map td:hover {
    border: 1px solid #557;
    box-shadow: 0 0 30px #77a;
}

.ships {
    position: relative;
}

.ships > * {
    position: absolute;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(-180deg); }
    100% { -webkit-transform: rotate(180deg); }
}

#ship-selection {
    display: none;
    position: absolute;
    z-index: 999;
    width: 68px;
    height: 68px;
    opacity: 0.7;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#pallette {
    position: fixed;
    width: 8em;
    height: 3em;
    top: 100%;
    margin-top: -3em;
    left: 100%;
    margin-left: -9.25em;
    padding: 0.5em 0.5em 0.5em 0.75em;
    z-index: 500;
    -moz-border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
    background: #959595; /* Old browsers */
    background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
    background: linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

button#end-turn {
    width: 100%;
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}

button#end-turn:active {
    background: darkgray;
}

button#end-turn label {
    position: relative;
    top: 2px;
}

button#end-turn:active label {
    top: 4px;
    left: 2px;
}

.callout {
    position: absolute;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: url('/static/images/highlight.png');
    padding: 10px;
    visibility: hidden;
    min-width: 10em;
    font-size: 85%;
    text-align: left;
    left: 115%;
    top: 10%;
    z-index: 400;
}

.callout h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.callout * {
    position: relative;
    top: -1.5em;
}

.callout:before {
    content:'';
    position: relative;
    display: block;
    width: 0;
    height: 0;
    left: -25px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid white;
    opacity: 0.35;
}

.planet:hover .callout {
    visibility: visible;
}


