body {
    background-color: black;
    color: lightyellow;
    font-family: 'Orbitron', sans-serif;
    background: url('/static/images/starfield.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    text-shadow: 2px 2px 5px #112;
}

#title-screen .title {
    margin-bottom: 2em;
}

.panel > .title {
    font-size: 2em;
}

.panel {
    min-width: 640px;
    padding: 2em;
    margin: 3em;
    position: relative;
    height: 100%;
    background: url('/static/images/highlight.png');
    border: #235 solid 12px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 0 100px #866;
}

.panel button {
    border: 15px bezel;
    position: relative;
    height: 2em;
    width: 22ex;
    color: blue;
    text-shadow: -1px -1px 3px #fff;
    font-size: 1.25em;
    font-family: 'Orbitron', sans-serif;
    margin: 1.5em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 10px 0 10px 0;
    border-radius:  12px 0 12px 0;
}

.panel button:hover {
    box-shadow: 0 0 40px #c77;
}

#title-screen button {
    right: -35%;
    display: block;
}

form > .group {
    margin: 0.5em;
    padding: 0.5em;
    border: 2px darkgray solid;
    background: url('/static/images/highlight.png');
    box-shadow: 0 0 50px #866;
    float: left;
}

form > .group > .title {
    position: relative;
    top: -10px;
}

label {
    margin: 0.5em;
    display: block;
    text-shadow: 0 0 2px black;
}

.map {
    table-layout: fixed;
    border-collapse: collapse;
}

.map td {
    width: 64px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    border: 1px dotted #335;
}

.map td:hover {
    border: 1px solid #557;
    box-shadow: 0 0 10px #fff;
}

.map img.planet {
    width: 60px;
    height: 60px;
}


